div.blade-overflow-wrapper {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    left: 0px;
}

div.blade-overflow-wrapper>div {
    display: table-cell;
}

div.blade-overflow-wrapper>div:nth-child(1) {
    width: 85px;
}

div.blade-overflow-wrapper>div:nth-child(2) {
    width: 100%;
}

div.blade-overflow-wrapper>div:nth-child(1)>div {
    width: 85px;
    height: 100%;
    box-shadow: 5px 0 0 0 rgba(108, 115, 122, .15);
}

div.blade-overflow-wrapper>div:nth-child(2)>div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: auto;
}

div.blades-container {
    left: 0px;
    position: absolute;
    height: 100%;
    display: inline-table;
    box-shadow: 5px 0 0 0 rgba(108, 115, 122, .15);
}

div.blades-container>div {
    display: table-cell;
}

div.blade-wrapper {
    display: table;
    height: 100%;
    width: 315px;
    transition: width 200ms;
}

div.blade-wrapper>div {
    display: table-row;
}

div.blade-wrapper>div>div {
    opacity: 1;
    transition: opacity 120ms linear 200ms;
    display: table-cell;
    width: 100%;
    border-style: solid;
    border-left-width: 2px;
    position: relative;
    overflow: hidden;
}

div.blade-wrapper>div>div>div {
    position: absolute;
}

div.blade-toolbar {
    height: 25px;
}

div.blade-header {
    height: 105px;
}

div.blade-content {
    background-color: #fff;
    height: 100%;
}

div.blade-wrapper>div>div>div {
    display: block;
}

div.blade-content>div {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: transparent;
}

div.blade-title-wrapper>label {
    display: block;
    width: 100%;
    word-break: keep-all;
    cursor: default;
}

label.blade-title {
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
}

label.blade-description {
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    line-height: normal;
    opacity: 1;
    transition: opacity 120ms linear 200ms;
}

div.blade-title-wrapper {
    overflow: hidden;
    height: 44px;
    width: 100%;
    padding: 0 25px;
}

button.blade-action-button {
    cursor: pointer;
    background-color: transparent;
    padding: 5px 7px 9px;
    opacity: .5;
    transition: opacity 200ms ease-out;
    width: 30px;
    height: 30px;
    display: inline-block;
}

button.blade-action-button:hover {
    opacity: 1;
}

.blade-action-button-image {
    display: block;
    height: 16px;
    width: 16px;
}

div.blade-header>div {
    height: 100%;
    width: 100%;
}

div.blade-toolbar>div {
    right: 0;
}
/*
Minimized css
*/

div.minimized-blade .blade-wrapper {
    width: 40px;
}

div.minimized-blade .blade-toolbar {
    height: 0px;
    opacity: 0;
    transition: none;
}

div.minimized-blade .blade-header {
    height: 100%;
    cursor: pointer;
}

div.minimized-blade .blade-content {
    height: 0px;
    opacity: 0;
    transition: none;
}

div.minimized-blade .blade-content>div {
    display: none;
}

div.minimized-blade .blade-title-wrapper {
    transform: rotate(90deg);
    transform-origin: left bottom 0;
    width: 500px;
    padding-bottom: 27px;
    height: 20px;
    left: 0px;
    top: 50px;
}

div.minimized-blade div.blade-title-wrapper>label {
    cursor: pointer;
}

div.minimized-blade label.blade-title {
    text-transform: uppercase;
    font-size: 10px;
}

div.minimized-blade label.blade-description {
    opacity: 0;
    transition: none;
}